@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 6%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 6%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 6%;

    --primary: 0 0% 6%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 6%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 92%;
    --accent-foreground: 0 0% 6%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 0 0% 6%;

    --radius: 0.25rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 100%;

    --card: 0 0% 6%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 6%;
    --popover-foreground: 0 0% 100%;

    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 6%;

    --secondary: 0 0% 12%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 12%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 15%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
